<!DOCTYPE html>
<html>
  <head>
	  <meta name="color-scheme" content="dark">
	  <%- include('partials/title') %> 
	  <link rel='stylesheet' href='/stylesheets/style.css' />
 		<link rel="shortcut icon" href="#">
  </head>
  <body>
  
	<div id="app">
	  	<div class="container">
			<div class="row">
				<div class="col">
				
					<h1>m-share</h1>
    				<p>Welcome to m-share</p>
				
					<% if(locals.login){ %>
						<%- include('partials/login') %>
					<% } %>

					<% if(locals.userPage){ %>
						<%- include('partials/userPage') %>
					<% } %>
				
				</div>
			</div>
		</div>
	 </div>

	<script src='javascripts/main.js'></script>
  </body>
</html>
