<!DOCTYPE html>
<html>
  <head>
	  <%- include('partials/title') %> 
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>m-share</h1>
    <p>Welcome to m-share</p>

	<%- include('partials/login') %>

  	<script src='javascripts/main.js></script>
  </body>
</html>
